.grid {
    display: grid;
    margin: 90px auto;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    width: 70vw;
    max-width: 500px;
    position: relative;
    justify-content: center;
}

.coordStyle {
    border: 1px solid rgb(118, 95, 95);
    padding: 20px;
}

.ship {
    background: rgb(107, 90, 90);
}



.playerShip::before {
    content: "A B C D E F G H I J ";
    position: absolute;
    font-size: 36px;
    letter-spacing: 9px;
    top: -40px;
    left: 6.5px;
}

.computerShip::before {
    content: "A B C D E F G H I J";
    position: absolute;
    letter-spacing: 10px;
    left: 6.5px;
    font-size: 35px;
    top: -40px;
}
.playerShip::after{
    content: "0 1 2 3 4 5 6 7 8 9";
    position: relative;
    font-size: 36px;
    transform: rotateY(0deg);
    bottom: 50px;
    left: -40px;
    letter-spacing: 9px;

}
.computerShip::after{
    content: "0 1 2 3 4 5 6 7 8 9";
    position: relative;
    font-size: 36px;
    transform: rotateY(0deg);
    bottom: 50px;
    left: -40px;
    letter-spacing: 9px;

}

.none {
    display: none;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.compAttack{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.compAttack input {
    width: 300px;
    padding: 10px;
}

.message-board{
    min-width:400px;
    height: 100px;
    border: 1px solid grey;
    padding: 10px;
    color: white;
    background-color:rgb(25, 21, 21);

}

.message-board h1{
    font-size: 20px;
    margin: 0;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 3px;
}

